---
import Layout from '@/layouts/Layout.astro';

const description = "Music Band Page (MBP) es una combinaci贸n de un blog y una plataforma de comercio electr贸nico para artistas y bandas musicales. Proporciona una interfaz simple, principalmente basada en tiendas online que he tomado como referencia. Adem谩s tiene un panel de administraci贸n para gestionar tanto el contenido del blog como los productos que hay disponibles en la tienda.";

const backendFeatures = [
    "Navegaci贸n y b煤squeda de productos",
    "Autenticaci贸n de clientes y autorizaci贸n",
    "Ver informaci贸n detallada sobre los pedidos",
    "Carrito de la compra hecho con un formulario paso a paso",
    "Conexi贸n con un TPV externo para procesar los pagos",
    "Notificaciones v铆a Email para confirmaci贸n de pedidos y actualizaciones",
    "Gestionar productos e informaci贸n mostrada por el panel de adminstrador",
];

const frontendFeatures = [
    "Landing page navegable",
    "Acceso a la tienda",
    "Muestra de eventos actuales y pasados",
    "Esquema b谩sico de colores (rojo y negro)",
];
---

<Layout title="Music Band Page | guinotix">

    <section class="max-w-xl mx-auto p-6 bg-opacity-80 rounded-lg text-white">
        <div class="flex flex-col items-center justify-center text-5xl leading-relaxed">
            <p>Music Band Page</p><p>葛</p>
        </div>
    </section>
    
    <div class="grid grid-cols-1 gap-6 lg:gap-8">
        <article class="scale-100 p-6 flex flex-col">
            <h2 class="mt-2 text-lg font-semibold text-white">Descripci贸n</h2>
            <p class="mt-4 mb-4 leading-relaxed">{description}</p>
            <h2 class="mt-2 text-lg font-semibold text-white">Caracter铆sticas</h2>
            <div class="mt-4 mb-4 leading-relaxed">
                <p class="mb-4 text-purple-500 font-bold leading-relaxed">Backend</p>
                <ul class="list-disc list-inside">
                    {Array.from({ length: backendFeatures.length }, (_, i) => i + 1).map((number) => (
                        <li>{backendFeatures[number-1]}</li>
                    ))}
                </ul>
                <p class="mt-4 mb-4 text-purple-500 font-bold leading-relaxed">Frontend</p>
                <ul class="list-disc list-inside">
                    {Array.from({ length: frontendFeatures.length }, (_, i) => i + 1).map((number) => (
                        <li>{frontendFeatures[number-1]}</li>
                    ))}
                </ul>
            </div>
            <h2 class="mt-4 text-lg font-semibold text-white">Detalles de implementaci贸n</h2>
            <p class="mt-4 mb-2 leading-relaxed">
                MBP ha sido codificado con el stack <strong>RILT</strong> (React, Inertia.js, Laravel and Tailwind CSS).
                El panel de administraci贸n ha sido desarrollado utilizando <strong>Filament</strong> para la gesti贸n de productos, pedidos y las publicaciones del blog.
                <strong>SQLite</strong> es empleado para almacenar los datos de la aplicaci贸n.
                <strong>Stripe</strong> maneja todos los pedidos de los clientes y las actualizaciones se hacen concurrentemente con la base de datos para asegurar la integridad de los datos.
            </p>
            <p class="mb-4 leading-relaxed">
                Sobre el dise帽o gr谩fico, el esquema de color empleado es el de Laravel por defecto (negro y rojo). De la misma forma, el logo no ha sido cambiado por simplificaci贸n.
            </p>
            <p class="mb-4 leading-relaxed">
                En general, el desarrollo fue basado en aprender c贸mo funciona una aplicaci贸n de comercio electr贸nico desde el lado del servidor.
            </p>
        </article>

        <article class="scale-100 p-6 flex flex-col">
            <h2 class="mt-2 text-lg font-semibold text-white">Resumen</h2>
            <p class="mt-4 leading-relaxed">
                Aqu铆 hay algunas im谩genes mostrando la interfaz gr谩fica de la aplicaci贸n:
            </p>
            <div class="space-y-1 flex flex-col items-center">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/100.png" alt="Main store page">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/200.png" alt="Product view">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/300.png" alt="Shopping cart view">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/400.png" alt="Shipping method selection">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/500.png" alt="Order summary">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/600.png" alt="My orders table">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/700.png" alt="Order view">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/800.png" alt="Admin - Products List">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/900.png" alt="Admin - Orders List">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/1000.png" alt="Admin - Order View 1">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/1100.png" alt="Admin - Order View 2">
            </div>
        </article>
    </div>
    
</Layout>
