---
import Layout from '@/layouts/Layout.astro';

const description = "Sailaway es una aplicación web diseñada para facilitar la gestión y las reservas de viajes en barco. Ofrece una interfaz amigable para el usuario hacia los clientes para buscar viajes disponibles, seleccionar los pasajeros y realizar reservas. De forma adicional, ofrece algunas herramientas administrativas para la gestión de viajes, barcos, reservas y pagos, así como también información del cliente.";

const features = [
    "Autenticación y autorización de los usuarios",
    "Nevgación y búsqueda de viajes en barco disponibles",
    "Ver detalladamente información sobre reservas y pagos",
    "Gestión de barcos, viajes, reservas y pagos para administradores",
    "Conexión con un TPV externo para procesar los pagos",
    "Notificaciones vía Email para la confirmación de reservas y actualizaciones",
    "Cancelaciones",
];
---

<Layout title="Sailaway | guinotix">

    <section class="max-w-xl mx-auto p-6 bg-opacity-80 rounded-lg text-white">
        <div class="flex flex-col items-center justify-center text-5xl leading-relaxed">
            <p>Sailaway</p><p>⛵</p>
        </div>
    </section>
    
    <div class="grid grid-cols-1 gap-6 lg:gap-8">
        <article class="scale-100 p-6 flex flex-col">
            <h2 class="mt-2 text-lg font-semibold text-white">Descripción</h2>
            <p class="mt-4 mb-4 leading-relaxed">{description}</p>
            <h2 class="mt-2 text-lg font-semibold text-white">Características</h2>
            <div class="mt-4 mb-4 leading-relaxed">
                <ul class="list-disc list-inside">
                    {Array.from({ length: features.length }, (_, i) => i + 1).map((number) => (
                        <li>{features[number-1]}</li>
                    ))}
                </ul>
            </div>
            <h2 class="mt-4 text-lg font-semibold text-white">Detalles de implementación</h2>
            <p class="mt-4 mb-2 leading-relaxed">
                Como aplicación web, Sailaway ha sido coficiada usando <strong>Laravel</strong> como framework principal.
                Proporciona una gran cantidad de soluciones que fueron dirigidas por la parte interesada, con lo que el desarrollo fue una gran experiencia.
                <strong>MySQL</strong> como sistema de base de datos es utilizada para almacenar la información de la aplicación.
                El entorno de pruebas está hecho con <strong>PHPUnit</strong> para asegurar que los accesos y modificaciones a la base de datos se hacen adecuadamente para los casos de uso definidos.
            </p>
            <p class="mb-4 leading-relaxed">
                Algunas cosas que ofrece Laravel son <strong>Autenticación</strong> y <strong>Autorización</strong>, el uso de <strong>Eloquent ORM</strong> para interactuar fácilmente con los modelos, <strong>Migraciones</strong> para definir el esquema apropiado de la base de datos, <strong>Validación</strong> de las peticiones HTTP y finalmente la gestión de <strong>Notificaciones</strong> vía email.
            </p>
            <p class="mb-4 leading-relaxed">
                Sobre las herramientas del frontend, <strong>Blade</strong> combinado con <strong>Tailwind CSS</strong> es utilizado para definir todas las páginas con un diseño simple empleando una paleta de colores ofrecida por la parte interesada.
            </p>
        </article>

        <article class="scale-100 p-6 flex flex-col">
            <h2 class="mt-2 text-lg font-semibold text-white">Resumen</h2>
            <p class="mt-4 leading-relaxed">
                Aquí hay algunas imágenes mostrando la interfaz gráfica de la aplicación:
            </p>
            <div class="space-y-1 flex flex-col items-center">
                <img class="scale-90 rounded-2xl" src="/sailaway/100.png" alt="Main dashboard">
                <img class="scale-90 rounded-2xl" src="/sailaway/200.png" alt="Calendar view">
                <img class="scale-90 rounded-2xl" src="/sailaway/300.png" alt="Exit date management">
                <img class="scale-90 rounded-2xl" src="/sailaway/400.png" alt="New reservation data">
                <img class="scale-90 rounded-2xl" src="/sailaway/500.png" alt="History of payment status">
            </div>
        </article>
    </div>
    
</Layout>
