---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/Hero.astro';
import Techs from '@/components/Techs.astro';
import Projects from '@/components/Projects.astro';

import { getLangFromUrl, useTranslations } from '../../i18n/utils'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const aboutMe = [
    "¡Hola! This is Alejandro, a Junior Software Engineer based in Spain. I ended my studies in Computer Engineering at Universitat Jaume I (Castellón de la Plana) with the Software Engineering specialization. I started my journey as a web developer working in a company that offers business IT solutions, where I expanded my knowledge and enhanced my abilities when writing code. My main expertise is backend web development using technologies like Express.js, Laravel and SQL databases.",
    "Currently, I am a web knowledge advisor of an association and, at the same time, I am building web applications that are fast and easy to interact with for both final users and developers.",
    "Also, I enjoy my free time both listening and playing music, and collecting card games.",
];
---

<Layout title="Home | guinotix">

	<Hero />

    <section id="about" class="mx-10 py-4">
        <h2 class="my-2 text-2xl font-semibold text-white">{t('index.aboutme')}</h2>
        <div class="text-md leading-relaxed">
            {Array.from({ length: aboutMe.length }, (_, i) => i + 1).map((number) => (
                <p class="mt-2">{aboutMe[number-1]}</p>
            ))}
        </div>
    </section>

    <section id="techs" class="mx-10 py-16">
        <h2 class="mt-2 text-2xl font-semibold text-white">{t('index.techs')}</h2>
        <Techs />
    </section>

    <section id="projects" class="mx-10 py-16">
        <h2 class="mt-2 text-2xl font-semibold text-white">{t('index.projects.title')}</h2>
		<p class="mt-2">{t('index.projects.description')}</p>
        <Projects />
    </section>
	
</Layout>
