---
import Layout from '../layouts/Layout.astro';

import LogoAstro from '../components/logos/LogoAstro.astro';
import LogoTailwind from '../components/logos/LogoTailwind.astro';
---

<Layout title="My Projects | guinotix">
    
    <div class="grid grid-cols-1 gap-6 lg:gap-8">
        
        <!-- My portfolio card -->
        <article class="scale-100 p-6 flex flex-col">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="flex justify-center items-center">
                    <img src="portfolio_ex_port.png" alt="Portfolio project presentation image" class="dark:text-white">
                </div>
                <div class="flex flex-col">
                    <h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">Alejandro Guinot's Portfolio</h2>
                    <p class="mt-4 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">My portfolio site!</p>
                    <p class="mt-2 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        The current site is built with Astro after having explored different options during the final stage of my university degree.
                        Thanks to the documentation and a simple design after looking some references,
                        I have modeled the site to show information about my projects and skills as a software engineer.
                    </p>
                    <p class="mt-2 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        The project takes simplicity into account,
                        so it only has basic routing to navigate between pages and the design made with Tailwind framework to gain experience in CSS,
                        since it is one of the skills that I wanted to improve.
                    </p>
                    <div class="mt-4">
                        <span class="text-xl font-medium dark:text-white">Technologies used:</span>
                        <div class="flex flex-row space-x-2">
                            <LogoAstro />
                            <LogoTailwind />
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
    </div>
    
</Layout>
