---
import Layout from '../layouts/Layout.astro';

import CardTech from '../components/CardTech.astro';
import Card from '../components/Card.astro';
import PageHeader from '../components/PageHeader.astro';
import ProfilePicture from '../components/ProfilePicture.astro';

import LogoAngular from '../components/logos/LogoAngular.astro';
import LogoExpress from '../components/logos/LogoExpress.astro';
import LogoFirebase from '../components/logos/LogoFirebase.astro';
import LogoLaravel from '../components/logos/LogoLaravel.astro';
import LogoMySQL from '../components/logos/LogoMySQL.astro';
import LogoTailwind from '../components/logos/LogoTailwind.astro';
---

<Layout title="Home | guinotix">

    <ProfilePicture slot="profile_picture" />

    <PageHeader slot="section_title">
		<div>
            <span class="text-lg md:text-2xl">Hi, my name is</span>
            <br class="mt-3">
            <span class="text-2xl md:text-5xl">Alejandro Guinot</span>
        </div>
        <p class="text-lg md:text-2xl mt-4">Junior Software Engineer based in Spain</p>
	</PageHeader>

	<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <Card additionalClasses="">
            <h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">About me</h2>
            <div class="mt-4 text-gray-500 text-xl leading-relaxed dark:text-gray-400">
                <p>¡Hola! I'm Alejandro, a Junior Software Engineer based in Spain. My main expertise is <strong>backend web development</strong> using technologies like <a class="hover:underline" href="https://nodejs.org/en" target="_blank" rel="noopener noreferrer"><strong>Node.js</strong></a>, <a class="hover:underline" href="https://expressjs.com" target="_blank" rel="noopener noreferrer"><strong>Express.js</strong></a>, <a class="hover:underline" href="https://firebase.google.com" target="_blank" rel="noopener noreferrer"><strong>Firestore</strong></a> and <strong>SQL databases</strong>.</p>
                <p class="mt-2">I'm interested in that part of the software development because is what I learned the first during my studies and the topics I researched the most during the recent times.</p>
                <p class="mt-2">I also have a <strong>little experience</strong> in <strong>frontend development</strong> with technologies such as <a class="hover:underline" href="https://angular.io" target="_blank" rel="noopener noreferrer"><strong>Angular</strong></a> and <a class="hover:underline" href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer"><strong>Tailwind CSS</strong></a>, which helped me to learn a bit how to structure the things on a page.</p>
            </div>
        </Card>
        <Card additionalClasses="">
			<h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">Education</h2>
            <p class="mt-4 text-gray-500 text-xl leading-relaxed dark:text-gray-400">Sept 2017 - Oct 2023: Bachelor's Degree in Computer Engineering at Universitat Jaume I</p>
            <p class="text-lg dark:text-gray-200">Software Engineering specialization</p>
            <h2 class="mt-6 text-2xl font-semibold text-gray-900 dark:text-white">Experience</h2>
            <p class="mt-2 text-gray-500 text-xl leading-relaxed dark:text-gray-400">Mar 2023 - Jun 2023: Web Developer Internship at Angal Informática S.L.</p>
            <p class="text-lg dark:text-gray-200">Full-stack implementation of a reservation managing system for boat trips using modern frameworks and styled UI.</p>
        </Card>
    </div>

    <Card additionalClasses="mt-6">
        <h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">Technologies</h2>
		<div class="grid grid-cols-2 sm:grid-cols-3 gap-2 mt-4">
            <CardTech technology='Express.js' level='Medium' usages='College and side projects'>
                <LogoExpress />
            </CardTech>
            <CardTech technology='Firebase' level='Medium' usages='College and side projects'>
                <LogoFirebase />
            </CardTech>
            <CardTech technology='Angular' level='Basic' usages='College projects'>
                <LogoAngular />
            </CardTech>
            <CardTech technology='Laravel' level='Medium' usages='College projects'>
                <LogoLaravel />
            </CardTech>
            <CardTech technology='Tailwind CSS' level='Basic' usages='College and side projects'>
                <LogoTailwind />
            </CardTech>
            <CardTech technology='MySQL' level='Medium' usages='College and side projects'>
                <LogoMySQL />
            </CardTech>
		</div>
    </Card>

	<section class="flex justify-center mt-12">
		<button type="submit" class="inline-flex items-center px-4 py-2 bg-violet-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-violet-700 focus:bg-violet-700 active:bg-violet-900 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition ease-in-out duration-150 hover:outline hover:outline-2 hover:outline-violet-500">
			<a href="/projects">
                <span class="text-lg">
                    See my projects
                </span>
            </a>
		</button>
    </section>
	
</Layout>
