---
import Layout from '../layouts/Layout.astro';

import Card from '../components/Card.astro';
import PageHeader from '../components/PageHeader.astro';

import LogoAstro from '../components/logos/LogoAstro.astro';
import LogoFilament from '../components/logos/LogoFilament.astro';
import LogoInertia from '../components/logos/LogoInertia.astro';
import LogoLaravel from '../components/logos/LogoLaravel.astro';
import LogoMySQL from '../components/logos/LogoMySQL.astro';
import LogoReact from '../components/logos/LogoReact.astro';
import LogoResend from '../components/logos/LogoResend.astro';
import LogoStripe from '../components/logos/LogoStripe.astro';
import LogoTailwind from '../components/logos/LogoTailwind.astro';
---

<Layout title="My Projects | guinotix">

    <PageHeader slot="section_title">
		<p class="text-2xl md:text-5xl leading-relaxed">Projects</p>
        <p class="text-lg md:text-2xl mt-4 leading-relaxed">This is my portfolio where I showcase some of the side projects I've worked in</p>
	</PageHeader>
    
    <div class="grid grid-cols-1 gap-6 lg:gap-8">

        <!-- MBP card -->
        <Card additionalClasses="">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="flex justify-center items-center">
                    <img class="rounded-2xl scale-90" src="mbp_ex_port.png" alt="MBP project presentation image" class="dark:text-white">
                </div>
                <div class="flex flex-col">
                    <h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">Music Band Page</h2>
                    <p class="mt-4 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        This project is a full-stack web application I developed as a serious challenge.
                        After Sailaway I decided to start one with more ambition for my future as a software developer.
                        Music is one of my hobbies and I spend time looking for some records online so, why not building a project related to this?
                    </p>
                    <p class="mt-2 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        That's why I came with the idea of building an E-commerce platform powered with some functionalities and styles based on bands that I follow.
                    </p>
                    <p class="mt-4 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        <button class="inline-flex items-center px-4 py-2 bg-violet-800 border border-transparent rounded-md font-semibold text-base text-white uppercase tracking-widest hover:bg-violet-700 focus:bg-violet-700 active:bg-violet-900 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition ease-in-out duration-150 hover:outline hover:outline-2 hover:outline-violet-500">
                            <a href="/projects/musicbandpage">
                                More info...
                            </a>
                        </button>
                    </p>
                    <div class="mt-4">
                        <span class="text-xl font-medium dark:text-white">Technologies used:</span>
                        <div class="flex flex-row space-x-2">
                            <a href="https://laravel.com" target="_blank" rel="noopener noreferrer">
                                <LogoLaravel />
                            </a>
                            <a href="https://inertiajs.com" target="_blank" rel="noopener noreferrer">
                                <LogoInertia />
                            </a>
                            <a href="https://react.dev" target="_blank" rel="noopener noreferrer">
                                <LogoReact />
                            </a>
                            <a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">
                                <LogoTailwind />
                            </a>
                            <a href="https://stripe.com" target="_blank" rel="noopener noreferrer">
                                <LogoStripe />
                            </a>
                            <a href="https://filamentphp.com" target="_blank" rel="noopener noreferrer">
                                <LogoFilament />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </Card>

        <!-- Sailaway card -->
        <Card additionalClasses="">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="flex justify-center items-center">
                    <img class="rounded-2xl scale-90" src="/sailaway/000.png" alt="Sailaway project presentation image" class="dark:text-white">
                </div>
                <div class="flex flex-col">
                    <h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">Sailaway</h2>
                    <p class="mt-4 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        Sailaway is a nearly identical adaptation of my final degree project, which I've done in 2023.
                        Due to implementation reasons of that project, the original one is not visible,
                        and that's why I've made a replica as faithful as possible,
                        omitting things like brand image and some special features.
                    </p>
                    <p class="mt-4 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        <button class="inline-flex items-center px-4 py-2 bg-violet-800 border border-transparent rounded-md font-semibold text-base text-white uppercase tracking-widest hover:bg-violet-700 focus:bg-violet-700 active:bg-violet-900 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition ease-in-out duration-150 hover:outline hover:outline-2 hover:outline-violet-500">
                            <a href="/projects/sailaway">
                                More info...
                            </a>
                        </button>
                    </p>
                    <div class="mt-4">
                        <span class="text-xl font-medium dark:text-white">Technologies used:</span>
                        <div class="flex flex-row space-x-2">
                            <a href="https://laravel.com" target="_blank" rel="noopener noreferrer">
                                <LogoLaravel />
                            </a>
                            <a href="https://www.mysql.com" target="_blank" rel="noopener noreferrer">
                                <LogoMySQL />
                            </a>
                            <a href="https://resend.com/home" target="_blank" rel="noopener noreferrer">
                                <LogoResend />
                            </a>
                            <a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">
                                <LogoTailwind />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </Card>
        
        <!-- My portfolio card -->
        <Card additionalClasses="">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="flex justify-center items-center">
                    <img src="portfolio_ex_port.png" alt="Portfolio project presentation image" class="dark:text-white">
                </div>
                <div class="flex flex-col">
                    <h2 class="mt-2 text-2xl font-semibold text-gray-900 dark:text-white">Alejandro Guinot's Portfolio</h2>
                    <p class="mt-4 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">My portfolio site!</p>
                    <p class="mt-2 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        The current site is built with Astro after having explored different options during the final stage of my university degree.
                        Thanks to the documentation and a simple design after looking some references,
                        I have modeled the site to show information about my projects and skills as a software engineer.
                    </p>
                    <p class="mt-2 text-gray-500 dark:text-gray-400 text-xl leading-relaxed">
                        The project takes simplicity into account,
                        so it only has basic routing to navigate between pages and the design made with Tailwind framework to gain experience in CSS,
                        since it is one of the skills that I wanted to improve.
                    </p>
                    <div class="mt-4">
                        <span class="text-xl font-medium dark:text-white">Technologies used:</span>
                        <div class="flex flex-row space-x-2">
                            <a href="https://astro.build" target="_blank" rel="noopener noreferrer">
                                <LogoAstro />
                            </a>
                            <a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">
                                <LogoTailwind />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </Card>
        
    </div>
    
</Layout>
