---
interface Props {
    level: string;
}

const { level } = Astro.props;

const levelToClasses = {
    'Basic': "bg-emerald-600 dark:bg-emerald-900 dark:text-emerald-300",
    'Medium': "bg-amber-600 dark:bg-amber-900 dark:text-amber-300",
    'Advanced': "bg-red-600 dark:bg-red-900 dark:text-red-300",
};

const color = levelToClasses[level];
---

<span class=`me-2 px-2.5 py-0.5 rounded text-white ${color}`>
    {level}
</span>
