---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col items-center justify-center py-16 px-0 bottom-0 gap-2 text-center text-sm text-slate-300">
    <span>{t('footer.crafted')}
        <a aria-label="github" href="https://github.com/guinotix" target="_blank" class="group inline-flex items-center hover:text-white hover:underline focus:outline focus:outline-2 focus:rounded-sm focus:outline-violet-500">
            @guinotix
        </a>
    </span>
</div>