<div class="hidden md:block">
    <div class="flex items-center h-[65vh] bg-sunset bg-fixed bg-no-repeat bg-cover bg-center -translate-y-0">
        <section class="ml-16 mt-8 mb-8 max-w-lg p-6">
            <img src="/face.png" alt="guinot profile picture" class="block w-48 h-48 rounded-full object-scale-down">
        </section>
        <section class="mt-8 mb-8 max-w-xl p-6 bg-opacity-80 rounded-lg shadow-2xl bg-gray-500 text-white">
            <slot />
        </section>
    </div>
</div>

<div class="block md:hidden">
    <div class="flex items-center h-[50vh] bg-sunset bg-fixed bg-no-repeat bg-cover bg-center -translate-y-0">
        <section class="ml-8 mt-8 mb-8 max-w-lg p-6">
            <img src="/face.png" alt="guinot profile picture" class="block w-48 h-48 rounded-full object-scale-down">
        </section>
        <section class="ml-4 mr-8 mt-8 mb-8 max-w-xs p-3 bg-opacity-80 rounded-lg shadow-2xl bg-gray-500 text-white">
            <slot />
        </section>
    </div>
</div>
