---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Music Band Page | guinotix">

    <section class="max-w-xl mx-auto p-6 bg-opacity-80 rounded-lg text-white">
        <div class="flex flex-col items-center justify-center text-5xl leading-relaxed">
            <p>Music Band Page</p><p>🎸🎤</p>
        </div>
    </section>
    
    <div class="grid grid-cols-1 gap-6 lg:gap-8">
        <article class="scale-100 p-6 flex flex-col">
            <h2 class="mt-2 text-2xl font-semibold text-white">Description</h2>
            <p class="mt-4 mb-4 leading-relaxed">
                Music Band Page (MBP) is a combination of a Blog + E-commerce site for music artists or bands.
                It provides a simple interface, mainly based on online stores that I have taken as a reference.
                It also has an administration panel to manage the content of the blog as well as the products that are available in the store.
            </p>
            <h2 class="mt-2 text-2xl font-semibold text-white">Features</h2>
            <div class="mt-4 mb-4 leading-relaxed">
                <p class="mb-4 text-purple-500 text-xl font-bold leading-relaxed">Backend</p>
                <ul class="list-disc list-inside">
                    <li>Browse and search for products</li>
                    <li>Customer authentication and authorization</li>
                    <li>View detailed information about orders</li>
                    <li>Shopping cart made using a step-by-step form</li>
                    <li>Connection with an external point of sale to process payments</li>
                    <li>Email notifications for order confirmation and updates</li>
                    <li>Manage products and information displayed by the Admin panel</li>
                </ul>
                <p class="mt-4 mb-4 text-purple-500 text-xl font-bold leading-relaxed">Frontend</p>
                <ul class="list-disc list-inside">
                    <li>Navigable landing page</li>
                    <li>Access to Store</li>
                    <li>Display of events and past events</li>
                    <li>Color scheme based on black and red</li>
                    <li>Sign up for newsletter to get mail notifications</li>
                </ul>
            </div>
            <h2 class="mt-4 text-2xl font-semibold text-white">Implementation details</h2>
            <p class="mt-4 mb-2 leading-relaxed">
                MBP has been coded with the <strong>RILT</strong> stack (React, Inertia.js, Laravel and Tailwind CSS).
                The Admin panel has been developed using <strong>Filament</strong>, for managing products, orders, and the blog posts.
                <strong>SQLite</strong> is used to store the data of the application.
                <strong>Stripe</strong> handles all the customer payments and the updates are done concurrently with the database to ensure data integrity.
            </p>
            <p class="mb-4 leading-relaxed">
                About the graphic design, the color scheme used is the Laravel default (black and red). In the same way, the logo has not been changed for simplicity.
            </p>
            <p class="leading-relaxed">
                Overall, the development was based around learning how an E-commerce application works behind the scenes.
            </p>
        </article>

        <article class="scale-100 p-6 flex flex-col">
            <h2 class="mt-2 text-2xl font-semibold text-white">Overview</h2>
            <p class="mt-4 leading-relaxed">
                Here are some pictures displaying the UI of Music Band Page:
            </p>
            <div class="space-y-1 flex flex-col items-center">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/100.png" alt="Main store page">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/200.png" alt="Product view">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/300.png" alt="Shopping cart view">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/400.png" alt="Shipping method selection">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/500.png" alt="Order summary">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/600.png" alt="My orders table">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/700.png" alt="Order view">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/800.png" alt="Admin - Products List">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/900.png" alt="Admin - Orders List">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/1000.png" alt="Admin - Order View 1">
                <img class="scale-90 rounded-2xl" src="/musicbandpage/1100.png" alt="Admin - Order View 2">
            </div>
        </article>
    </div>
    
</Layout>
