---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/Hero.astro';
import Techs from '@/components/Techs.astro';
import Projects from '@/components/Projects.astro';

import { getLangFromUrl, useTranslations } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const aboutMe = [
    "¡Hola! Soy Alejandro, ingeniero de software junior afincado en España. Finalicé mis estudios en Ingeniería Informática en la Universitat Jaume I (Castellón de la Plana) especializado en Ingeniería de Software. Empecé mi viaje como desarrollador web trabajando en una compañía que ofrece soluciones informáticas a empresas, donde expandí mi conocimiento y mejoré mis habilidades escribiendo líneas de código. Mi dominio principal es el desarrollo backend usando tecnologías como Laravel, Express.js y bases de datos SQL.",
    "Actualmente soy asesor web de una asociación y, al mismo tiempo, estoy desarrollando aplicaciones web rápidas y fáciles de interactuar tanto para el usuario final como para los desarrolladores.",
    "Además, disfruto de mi tiempo libre escuchando y tocando música y coleccionando juegos de cartas.",
];
---

<Layout title="Inicio | guinotix">

	<Hero />

    <section id="about" class="mx-10 py-4">
        <h2 class="my-2 text-2xl font-semibold text-white">{t('index.aboutme')}</h2>
        <div class="text-md leading-relaxed">
            {Array.from({ length: aboutMe.length }, (_, i) => i + 1).map((number) => (
                <p class="mt-2">{aboutMe[number-1]}</p>
            ))}
        </div>
    </section>

    <section id="techs" class="mx-10 py-16">
        <h2 class="mt-2 text-2xl font-semibold text-white">{t('index.techs')}</h2>
        <Techs />
    </section>

    <section id="projects" class="mx-10 py-16">
        <h2 class="mt-2 text-2xl font-semibold text-white">{t('index.projects.title')}</h2>
		<p class="mt-2">{t('index.projects.description')}</p>
        <Projects />
    </section>
	
</Layout>
