---
import '@fontsource-variable/reddit-mono'

import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Alejandro Guinot's personal portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href="/codeIcon.svg" />
		<title>{title}</title>
	</head>
	<body class="font-sans antialiased">
		<div class="min-h-screen bg-gradient-to-r from-[#1d043c] from-10% via-[#3c156e] via-30% to-[#451e4a] to-90% text-slate-100">
			<Navbar />
			<main>
				<div class="relative min-h-screen sm:flex sm:flex-col sm:justify-center sm:items-center selection:bg-violet-500 selection:text-white">
					<div class="max-w-5xl mx-auto">
						<slot />
						<Footer />
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>