---
import "flag-icons/css/flag-icons.min.css";

import { languages } from '@/i18n/ui';

const langClasses = {
    'en': 'fi fi-gb',
    'es': 'fi fi-es',
}
---

<ul class="flex gap-4">
    {Object.entries(languages).map(([lang, label]) => (
        <li>
            <a href={`/${lang}`} aria-label={lang}>
                <span class={langClasses[lang]}></span>
            </a>
        </li>
    ))}
</ul>
